<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body>
<form method="POST">
  <label>User Input:</label><br>
  <input type="text" id="user_input" name="user_input"><br>
  <input type="submit" value="Submit">
</form>

<button class="outline outline-offset-2 outline-blue-500">Button A</button>

<p> {{ value }} </p>

<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
  </div>
  <div class="chat-bubble">{{value}}</div>
</div>

</body>
</html>